root{
    display : block;
}

.tela{width: 100%;background-color:black; }
.home{ min-height: 100%; width: 100%;animation: mudarfoto 20s infinite; 
       background-image: url('img/logomarca.jpeg');background-repeat: no-repeat; 
     }
     
.titulo{ width: 100%;font-size:4em; color: blue;  height:1em;padding-top:0.5em;  
       text-align:center; margin-bottom:0;margin-top:0em;padding-left:0em;
}
      
.titulo2{width: 100%; color:blue;padding-bottom:0px;font-size:3.5rem; font-weight:700;text-align: center;
         margin-bottom:0; 
 } 
 .p{padding-top: 0.5em; padding-bottom:0.5em;padding-left:0.5em; margin-bottom: 0; font-size:0.5em; 
   font-weight:700; line-height:1.8rem;color:blue; }
 .botoes{ padding-left:400px;}
 */*CORES*/
 .verde{
    background-color: greenyellow;
    font-family:serif;
    font-size: 14px;
}

.azul{
    background-color: burlywood;
    font-family: serif;
    font-size: 14px;
}


/*HOME - ANIMATION*/
@keyframes mudarfoto{
    30%{background-image: url('img/logomarca.jpeg');}
    30%{background-image: url('img/estacionamento13.jpg');}
    40%{background-image: url('img/localizandoestacionamento1.jpg');}
    100%{background-image: url('img/logomarca.jpeg');}
}
/*LOGO*/
.nav{ height:100%; background-color: transparent;} 
.logo-img{margin-left:29px;}
.menu{font-size:1em; padding-left:0.0em; padding-right:0.0em;} 

.menu:hover{background-color: red; color:white; } /*background-color: transparent;*/
.rodape{width:100%; background-color:blue; color:#fff; font-size:30px; text-align: center; 
       height:8em;padding-bottom: 2em ; padding-top:1em;  font-weight:700; }

 /*INFORMACÕES*/
 h1{font-size:2em; text-align:center; font-weight:200;color:white;margin-bottom:0;text-transform: uppercase;
    text-justify: initial; }
 .conteudo{width: 50%; font-size: 1.3em;font-weight:700; font-family: sans-serif;background-color:
              white; color:blue; padding-left: 0.5em;padding-right: 0.5em;padding-top:0.1em;
              padding-bottom:2px; }
                
 .tela2{width: 100%;background-color:black; } 
 .menu2{font-size: 2em;}
 .titulo3{font-size:3em; color: blue;  height:1em;padding-top:0.5em;  
       text-align: initial; margin-bottom:0;margin-top:0em;padding-left:0em;
}
 .menu3{ padding-left:0.3em; padding-right:0.3em;} 
 .menu5:hover{background-color: red; color:white; }            
                
                    
            
   
       
            
            
          
               
                 
            
            
            